.config/dconf/
.config/dleyna-*
.config/enchant
.config/epiphany
.fonts/Pr*
.fonts/My*
.config/pulse
.config/gedit/
.config/monitors.xml
.config/evolution/
.config/goa-1.0/
.config/chromium
.config/google-chrome
