.ICEauthority
.NERDTreeBookmarks
.bash_history
.cache/
.dbus/
.config/Trolltech.conf
.config/dconf/
.config/enchant/
.config/evolution/
.config/gnome-control-center/
.config/google-chrome/
.config/gtk-2.0/
.config/menus/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/netsurf/
.config/pulse/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.sudo_as_admin_successful
.gconf/
.fonts/My*
.fonts/Pra*
.gnome/
.gnome2/
.gtkrc-2.0
.lastpass/
.local/
.macromedia/
.mozilla/
.pki/
.rsc
.ssh/
.vim/
.viminfo
.vimrc
.vimrc.bundles
.xsession-errors
Downloads/
Pictures/
go/
src/

