[Desktop Entry]
Name[es]=Redshift
GenericName[es]=Ajuste de la temperatura de color
GenericName[pl]=Dostosowanie temperatury barwowej
Comment[lt]=Spalvos temperatūros reguliavimo įrankis
Name[it]=Redshift
Comment=Color temperature adjustment tool
Name[tr]=Redshift
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[fr]=Outil de réglage de la température de couleur
Type=Application
Comment[tr]=Renk sıcaklığı ayarlama aracı
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName[nl]=Kleurtemperatuur aanpassing
Terminal=false
GenericName[hu]=Szín hőmérséklet beállítás
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Name[zh_CN]=红移
GenericName=Color temperature adjustment
GenericName[fr]=Réglage de la température de couleur
Comment[zh_CN]=色温调节工具
Name[hu]=Redshift
GenericName[it]=Regolazione della temperatura del colore
Name[lt]=Redshift
GenericName[zh_CN]=色温调节
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment[it]=Strumento per la regolazione della temperatura del colore
StartupNotify=true
Name[pl]=Redshift
Name[ru]=Redshift
Comment[ru]=Инструмент регулирования цветовой температуры
Comment[da]=Justeringsværktøj for farvetemperatur
GenericName[de]=Farbtemperatur Anpassung
GenericName[da]=Justering af farvetemperatur
Name[pt_BR]=Redshift
Comment[hu]=Színhőmérséklet beállító eszköz
Icon=redshift
GenericName[ru]=Настройка цветовой температуры
Exec=redshift-gtk
Categories=Utility;
Name[fr]=Redshift
Version=1.0
Name[de]=Redshift
Hidden=true
GenericName[tr]=Renk sıcaklığı ayarı
Name=Redshift
X-GNOME-Autostart-enabled=false
GenericName[lt]=Spalvos temperatūros reguliavimas
GenericName[cs]=Přizpůsobení barevné teploty

