# Conky, a system monitor, based on torsmo
#
# Any original torsmo code is licensed under the BSD license
#
# All code written since the fork of torsmo is licensed under the GPL
#
# Please see COPYING for details
#
# Copyright (c) 2004, Hannu Saransaari and Lauri Hakkarainen
# Copyright (c) 2005-2010 Brenden Matthews, Philip Kovacs, et. al. (see AUTHORS)
# All rights reserved.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

background no
use_xft yes
#xftfont PragmataPro:light:size=11
xftfont PragmataPro:size=11
update_interval 0.5
own_window yes
#own_window_type desktop
own_window_title no
own_window_transparent no
own_window_colour 000000
own_window_hints undecorated,below,skip_taskbar,skip_pager, sticky
own_window_argb_visual yes
own_window_argb_value 170
own_window_argb_visual yes
double_buffer yes
minimum_size 1915 1
maximum_width 1920
maximum_height 800
draw_shades no
draw_outline no
draw_borders no_buffers
draw_graph_borders no
default_color ffffff
default_shade_color 000000
default_outline_color ffffff
alignment bottom_left
no_buffers yes
uppercase no
use_spacer right
border_inner_margin 5
border_outter_margin 0
override_utf8_locale yes
pad_percents 2
temperature_unit celsius

gap_x 5
gap_y 410

color1 ffffff

#${font PragmataPro:light:size=40}${alignr}${time %H:%M}$font 
#${goto 1650} ${color1}${font PragmataPro:light:size=24}${time %a, %d/%m/%Y}$color$font
#${font PragmataPro:bold:size=11}CPU$font >> ${goto 45}${cpu cpu1}% of ${freq 1}Mhz ${goto 155}${cpu cpu2}% of ${freq 2}Mhz \
#${goto 45}${cpugraph cpu1 15,100 222222 ffffff 100 -t}\
#${goto 170}${cpugraph cpu2 15,100 222222 ffffff 100 -t}\
#${goto 295}${cpugraph cpu3 15,100 222222 ffffff 100 -t}\
#${goto 420}${cpugraph cpu4 15,100 222222 ffffff 100 -t}\
TEXT
${font PragmataPro:bold:size=11}CPU$font >>${voffset -42} ${cpugraph cpu0 50,190 222222 ffffff}${voffset 42}\
     ${font PragmataPro:bold:size=11}RAM$font >> $mem  ($memperc%)\
     ${font PragmataPro:bold:size=11}DOWNLOAD$font >> ${downspeed wlp1s0}\
     (${totaldown wlp1s0})\
     ${font PragmataPro:bold:size=11}UPLOAD$font >> ${upspeed wlp1s0}\
     (${totalup wlp1s0})\
     ${font PragmataPro:bold:size=11}TEMP$font >> ${font PragmataPro:size=11}[CPU] ${acpitemp}°$font\
     ${font PragmataPro:bold:size=11}IP$font >> ${font PragmataPro:size=11}${addr wlp1s0}$font\
     ${font PragmataPro:bold:size=11}TOP$font >> ${font PragmataPro:size=11}${top name 1}${top cpu 1}$font\
            ${font PragmataPro:size=11}${kernel}$font
