
# Conky, a system monitor, based on torsmo
#
# Any original torsmo code is licensed under the BSD license
#
# All code written since the fork of torsmo is licensed under the GPL
#
# Please see COPYING for details
#
# Copyright (c) 2004, Hannu Saransaari and Lauri Hakkarainen
# Copyright (c) 2005-2010 Brenden Matthews, Philip Kovacs, et. al. (see AUTHORS)
# All rights reserved.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

#background no
use_xft yes
xftfont Dosis:light:size=10
update_interval 0.5
own_window yes
#own_window_type desktop
own_window_title no
own_window_transparent no
own_window_colour 000000
own_window_hints undecorated,below,skip_taskbar,skip_pager, sticky
own_window_argb_visual yes
own_window_argb_value 170
double_buffer yes
minimum_size 2559 1
draw_shades no
draw_outline no
draw_borders no_buffers
draw_graph_borders no
default_color ffffff
default_shade_color 000000
default_outline_color ffffff
#alignment bottom
#no_buffers yes
uppercase no
use_spacer false
border_inner_margin 5
border_outer_margin 0
override_utf8_locale yes
#pad_percents 2
temperature_unit celsius

gap_x 1941
gap_y -50

color1 ffffff

#${goto 20}${font Dosis:bold:size=10}CPU$font >> ${goto 100}${cpu cpu1}% of ${freq 1}Mhz ${goto 300}${cpu cpu2}% of ${freq 2}Mhz \
#${goto 520}${cpu cpu1}% of ${freq 1}Mhz ${goto 740}${cpu cpu2}% of ${freq 2}Mhz \
#${font Dosis:bold:size=10}CPU$font >> ${goto 45}${cpugraph cpu1 15,85 222222 ffffff 100 -t}${goto 155}${cpugraph cpu2 15,85 222222 ffffff 100 -t}\
#${goto 265}${cpugraph cpu3 15,85 222222 ffffff 100 -t}${goto 375}${cpugraph cpu4 15,85 222222 ffffff 100 -t}\

#${goto 140}${cpugraph cpu1 30,170 222222 ffffff 100 -t}\
#${goto 320}${cpugraph cpu2 30,170 222222 ffffff 100 -t}\
#${goto 500}${cpugraph cpu3 30,170 222222 ffffff 100 -t}\
#${goto 680}${cpugraph cpu4 30,170 222222 ffffff 100 -t}\

TEXT
${goto 20}${font Dosis:bold:size=10}CPU$font >>\
${goto 140}${cpugraph cpu0 30,490 222222 ffffff 100 -t}\
${goto 650} ${font Dosis:bold:size=10}RAM$font >> $mem  ($memperc%)\
${goto 900} ${font Dosis:bold:size=10}DOWNLOAD$font >> ${downspeedgraph wlp1s0 30,150 222222 ffffff}\
${goto 1230} (${totaldown wlp1s0})\
${goto 1350} ${font Dosis:bold:size=10}UPLOAD$font >> ${upspeedgraph wlp1s0 30,150 222222 ffffff}\
${goto 1630} (${totalup wlp1s0})\
${goto 1760} ${font Dosis:bold:size=10}TEMP$font >> ${font Dosis:size=10}[CPU]$font ${acpitemp}°\
${goto 2050} ${font Dosis:bold:size=10}TOP$font >> ${top name 1} ${top cpu 1}
